---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPost from '../../components/BlogPost.astro'
import TagsList from '../../components/TagsList.astro'
import PostLink from '../../components/PostLink.astro'

export async function getStaticPaths() {
	const allPosts = await getCollection('posts')

	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) =>
			post.data.tags.includes(tag)
		)
		return {
			params: { tag },
			props: { posts: filteredPosts }
		}
	})
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout pageTitle={tag}>
	<div class='taglist full'>
		<TagsList />
	</div>
	<h1>{tag}</h1>
	<section class='post-container'>
		<section class='postgrid'>
			{posts.map((post) => <PostLink post={post} />)}
		</section>
	</section>
</BaseLayout>

<style>
	.taglist {
		padding-block: 2rem;
		background-color: rgb(223, 223, 223);
	}
	.taglist :global(.tags) {
		justify-content: center;
	}
</style>
