header {
	position: relative;
	z-index: 10;
	border-bottom: 1px solid var(--text-color-200);
}
.header-nav {
	background: #fff;
}
.header-nav.active {
	border-bottom: none;
}

.nav-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1rem;
	background-color: #fff;
}

.logo-link {
	margin-inline: 0.5rem;

	display: grid;
	fill: black;
	place-items: center;
}

.nav-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	gap: 1rem;
	position: absolute;
	transform: translate3d(0, -110%, 0);
	z-index: -1;
	top: 3rem;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: 1.5rem;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-links.activated {
	transition: transform 0.5s var(--base-animation);
}

.btn {
	cursor: pointer;
	background-color: transparent;
	border: none;
	display: grid;
	place-items: center;
	padding-inline: center;
	transition: transform 0.3s var(--base-animation);
}

.btn--menu[aria-expanded='true'] {
	transform: rotate(180deg);
}

.btn--menu[aria-expanded='true'] + .nav-links {
	transform: translate3d(0, 0, 0);
}

.navlink {
	font-family: 'Franklin', sans-serif;
	font-size: 0.75rem;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	color: black;
	letter-spacing: 1px;
	transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1);
	width: 100%;
	display: block;
}

.navlink:hover {
	color: #7f7f7f;
}

@media (min-width: 768px) {
	.btn--menu {
		display: none;
	}

	.nav-links {
		position: static;
		transform: translate3d(0, 0, 0);
		flex-direction: row;
		border: 0;
		z-index: 0;
		padding: 0;
		inset: 0;
		background-color: transparent;
		box-shadow: none;
		transition: none;
	}

	.nav-links.activated {
		transition: none;
	}

	li[role='none'],
	.nav-link {
		width: initial;
	}
}
