---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
import PostLink from '../components/PostLink.astro'
import TagsList from '../components/TagsList.astro'
const allPosts = await getCollection('posts')

const pageTitle = 'All Post'
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<div class='taglist full'>
		<TagsList />
	</div>
	<section class='main feature'>
		<section class='post-container'>
			<section class='postgrid postgrid-home'>
				{allPosts.map((post) => <PostLink post={post} />)}
			</section>
		</section>
	</section>
</BaseLayout>

<style>
	.taglist {
		padding-block: 2rem;
	}
	.taglist :global(.tags) {
		justify-content: center;
	}
</style>
