---
import { Image } from 'astro:assets'
import CircleLogo from '../images/CircleLogo.svg'

import { getCollection } from 'astro:content'
const allPosts = await getCollection('posts')
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
---

<style>
	footer {
		background-color: #fff;
		margin-top: auto;
		padding-block: 1rem;
		container-type: inline-size;

		.logo {
			width: 4rem;
		}

		.wrapper {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		h2 {
			font-size: 1.5rem;
			font-weight: 600;
		}

		ul {
			list-style: none;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0.5rem;
		}

		.newsletter {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		nav {
			margin-left: 0;
		}

		.content {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
		}

		.input {
			border: 1px solid var(--text-color-500);
			padding: 0.5rem;
		}

		@container (min-width: 768px) {
			.wrapper {
				display: flex;
				flex-direction: row;
				gap: 1.5rem;
			}

			nav {
				margin-left: 0;
			}
		}

		a {
			font-size: 0.75rem;
			text-transform: capitalize;
		}
	}
</style>

<footer class='content'>
	<div class='wrapper feature'>
		<div>
			<Image
				src={CircleLogo}
				height='52.72'
				width='52.15'
				class='logo'
				alt='5 kids and planning KP Logo'
			/>
		</div>
		<div>
			<h2>Newsletter</h2>
			<div class='content'>
				<section class='newsletter'>
					<p class='subtitle'>
						Subscribe to the weekly newsletter to get the best tips and trends.
					</p>
					<form action=''>
						<input type='email' class='input' />
						<button>submit</button>
					</form>
					<div>
						<a href=''>Facebook</a><a href=''>Instagram</a>
					</div>
				</section>

				<nav>
					<h2>Catagories</h2>
					<ul>
						{
							tags.map((tag) => {
								return (
									<li>
										<a href={`/tags/${tag}`}>{tag}</a>
									</li>
								)
							})
						}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>
