---
const { tag } = Astro.props
---

<a class='tag' href={`/tags/${tag}`}>
	{tag}
</a>

<style>
	.tag {
		margin: 0.25em;
		border: solid 2px var(--color, var(--text-color-500));
		border-radius: 9999999px;
		padding: 0.5em 1em;
		text-transform: uppercase;
		font-family: 'Franklin', 'Helvetica', sans-serif;
		font-size: 0.85rem;
		color: var(--color, var(--text-color-500));
		font-weight: 700;
		text-decoration: none;
		white-space: nowrap;
	}

	.tag:hover {
		background-color: var(--color, var(--text-color-500));
		color: var(--color-inv, #fff);
	}
</style>
